.container {
  text-align: center;
  width: 50%;
}

input#task {
  width: 50%;
  margin: auto;
}

.strikethrough {
  text-decoration: line-through;
  text-decoration-color: black;
}

.card {
  margin: auto;
  min-height: 200px;
}

button {
  margin-bottom: 2em;
}

li {
  text-align: left;
}
li:hover {
  cursor: pointer;
}
.card-link {
  text-decoration: underline;
}
.card-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
